html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Cantarell', sans-serif;
  background-image: url(../assets/wallpaper.jpg);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 80%;
}

li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 5px;
}

p{ overflow-wrap: break-word;
  word-wrap: break-word;
}

h6:first-child, p:first-child {
  width: 20%;

}
h6:nth-child(2), p:nth-child(2) {
  width: 60%;
}

h6:nth-child(3), p:nth-child(3) {
  width: 20%;
}
h6, p{
  margin:0 10px;
}

h1 {
  font-family: 'Cantarell', sans-serif;
  color: #BF3B3F;

  letter-spacing: 1px;
  font-size: 2em;
  text-align: center;
  margin-top: 3rem;
}
.lineThrough{
  text-decoration: line-through;
}
.boldItalic{
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
}
h6 {
  color: rgb(255, 123, 0);
}

.info-table, .action-table, .opinion-table {
  margin: 20px auto;
  border: 4px solid rgb(122, 118, 118);
  background: white;
}

.opinion-section{
  display: none;
  flex-direction: column; 
  align-content: center;
}

.info-section {
  display: flex;
  flex-direction: column;
  width: 79.2%;
  padding: 10px 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

input, textarea {
  margin: 10px 0;
}

/* style for login page*/

.selected {
  color: #BF3B3F;
}

input:invalid {
  border: 2px solid red;
}

